CARS.CoreLibrary/Service References/ServiceReference1/DPService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DayPlan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DayPlan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmnetId" type="xs:int" />
      <xs:element minOccurs="0" name="MechanicId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanTimeFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanTimeTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetails" nillable="true" type="tns:UserDetails" />
</xs:schema>